.footer{
    background: $footer-bg-gradient;
    .footer-container{
        max-width: 1000px;
        margin: 0 auto;
        padding-block: 50px;

        h1{
            color: $white;
        }
    }
}