.header{
    background:$header-bg-gradient;
    display: grid;
    grid-template-columns:10rem 1fr 2fr 1fr 10rem;
    align-items: center;
    font-family: $poppins-family;
    height: 7rem;
    .logo{
        display: flex;
        grid-column: 2/3;
        justify-content:flex-start;
        cursor: pointer;
    }
    .nav-container{
        grid-column: 3/4;
        .nav-itmes{
            display: flex;
            justify-content:space-around;
            align-items: center;
        
        li.nav-menu{
            list-style: none;
            color: aliceblue;
            font-size: 12px;
            cursor: pointer;
            text-transform: uppercase;
        }
        .nav-menu:hover{
            color: aqua;
        }
      }
    }
    .soc-media{
        grid-column: 4/5;
        display: grid;
        grid-template-columns: 2fr repeat(3,2fr);
        a:first-child{
            grid-column: 2/3;
        }
        a{
            text-align: right;
            padding: 0 10px;
        }
    }
   
}