.header{
    background:$header-bg-gradient;
    display: grid;
    grid-template-columns:8rem 1fr 2fr 1fr 8rem;
    align-items: center;
    font-family: $poppins-family;
    height: 7rem;
    position: sticky;
    top: 0;
    z-index: 2;
    .logo{
        display: flex;
        grid-column: 2/3;
        justify-content:flex-start;
        cursor: pointer;
    }
    .nav-container{
        grid-column: 3/4;
        .nav-itmes{
            display: flex;
            justify-content:space-around;
            align-items: center;
        
        li.nav-menu{
            list-style: none;
            color: aliceblue;
            font-size: 12px;
            cursor: pointer;
            text-transform: uppercase;
        }
        .nav-menu:hover{
            color: aqua;
        }
      }
    }
    .soc-media{
        grid-column: 4/5;
        display: grid;
        grid-template-columns: 2fr repeat(3,2fr);
        a:first-child{
            grid-column: 2/3;
        }
        a{
            text-align: right;
            padding: 0 10px;
        }
    }
    .ham-Burger-container{
        display: none;
        z-index: 5;
        grid-column: 4/5;
    .ham-Burger{

        
        display: grid;
        grid-template-columns: 2fr repeat(3,2fr);
        &:hover{
            cursor: pointer;
        }
        span{
            grid-column: 4/4;
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $white;
            border-radius: 3px;
            z-index: 1;
        }
    }}
    @media only screen and (max-width:991px){
        .nav-container,.soc-media{
         display: none;
        }
        .ham-Burger-container{
            display: block;
        }
    }
   
}