.main{
    .hero-bg{
        background: url(../Assets/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .hero-container{
            max-width: 1000px;
            margin: 0 auto;
            padding-block: 30px;
            display: grid;
            gap: 15px;

            @media (max-width:1000px){
            padding-inline: 15px;
            }

            h1, p{
                color: $white;
                font-family: $poppins-family;
            }
            button{
                max-width: 100px;
                padding-block: 10px;
                background: $header-bg-gradient;
                color: $white;
                border: none;
                font-family: $poppins-family;
            }
        }
    }
    .section-nav{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 15px;
        margin-top: 20px;
        position: relative;
        background-color: $white;
        border-radius: 4px;
        @media (max-width:1000px){
            margin-inline: 15px;
        }

        &::before{
            content: '';
            position: absolute;
            inset: -2px;
            background: $header-bg-gradient;
            z-index: -1;
            border-radius: 4px;
        }

        .section-nav-item{
            text-decoration: none;
            flex: 1;
            text-align: center;
            padding-block: 15px;
            font-family: $poppins-family;

            &.active-nav{
                background: $header-bg-gradient;
                color: $white;
            }
        }

        &.fixed-section-nav{
            position: fixed;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);

            &.active-nav{
                border: 1px solid $white;
            }
        }
    }
}