.main{
    .hero-bg{
        background: url(../Assets/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .hero-container{
            max-width: 1000px;
            margin: 0 auto;
            padding-block: 30px;
            display: grid;
            gap: 15px;

            h1, p{
                color: $white;
            }
            button{
                max-width: 100px;
                padding-block: 10px;
                background: $header-bg-gradient;
                color: $white;
                border: none;
            }
        }
    }
}