@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(32%, #000086), color-stop(35%, #090979), color-stop(43%, #082289), color-stop(52%, #073e9c), color-stop(61%, #065aaf), color-stop(66%, #056ab9), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #000086 32%, #090979 35%, #082289 43%, #073e9c 52%, #065aaf 61%, #056ab9 66%, #00d4ff 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8rem 1fr 2fr 1fr 8rem;
      grid-template-columns: 8rem 1fr 2fr 1fr 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  height: 7rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.header .nav-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.header .nav-container .nav-itmes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-container .nav-itmes li.nav-menu {
  list-style: none;
  color: aliceblue;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.header .nav-container .nav-itmes .nav-menu:hover {
  color: aqua;
}

.header .soc-media {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (2fr)[3];
      grid-template-columns: 2fr repeat(3, 2fr);
}

.header .soc-media a:first-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header .soc-media a {
  text-align: right;
  padding: 0 10px;
}

.header .ham-Burger-container {
  display: none;
  z-index: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.header .ham-Burger-container .ham-Burger {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.header .ham-Burger-container .ham-Burger span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.header .ham-Burger-container .ham-Burger span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.header .ham-Burger-container .ham-Burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.header .ham-Burger-container .ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.header .ham-Burger-container .ham-Burger:not(.open):hover span:nth-child(2) {
  -webkit-transform: rotate(3deg) scaleY(1.1);
          transform: rotate(3deg) scaleY(1.1);
}

.header .ham-Burger-container .ham-Burger:not(.open):hover span:nth-child(3) {
  -webkit-transform: rotate(-4deg) scaleY(1.1);
          transform: rotate(-4deg) scaleY(1.1);
}

.header .ham-Burger-container .ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.header .ham-Burger-container .ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.header .ham-Burger-container .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

.header .ham-Burger-container .open span:nth-child(2) {
  opacity: 0;
}

.header .ham-Burger-container .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

@media only screen and (max-width: 991px) {
  .header {
    -ms-grid-columns: 4rem 1fr 3fr 4rem;
        grid-template-columns: 4rem 1fr 3fr 4rem;
  }
  .header .nav-container, .header .soc-media {
    display: none;
  }
  .header .soc-media-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-Container-sm {
    position: absolute;
    width: 100%;
    margin-top: 191px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#056ab9), color-stop(32%, #056ab9), color-stop(35%, #056ab9), color-stop(43%, #056ab9), color-stop(52%, #065aaf), color-stop(61%, #056ab9), color-stop(66%, #056ab9), to(#00d4ff));
    background: linear-gradient(90deg, #056ab9 0%, #056ab9 32%, #056ab9 35%, #056ab9 43%, #065aaf 52%, #056ab9 61%, #056ab9 66%, #00d4ff 100%);
  }
  .header .nav-Container-sm .nav-itmes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav-Container-sm .nav-itmes li.nav-menu {
    display: block;
    margin: 10px 0;
    list-style: none;
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .header .nav-Container-sm .nav-itmes .nav-menu:hover {
    color: aqua;
  }
  .header .ham-Burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main .hero-bg {
  background: url(../Assets/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .hero-bg .hero-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-block: 30px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

@media (max-width: 1000px) {
  .main .hero-bg .hero-container {
    padding-inline: 15px;
  }
}

.main .hero-bg .hero-container h1, .main .hero-bg .hero-container p {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.main .hero-bg .hero-container button {
  max-width: 100px;
  padding-block: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(32%, #000086), color-stop(35%, #090979), color-stop(43%, #082289), color-stop(52%, #073e9c), color-stop(61%, #065aaf), color-stop(66%, #056ab9), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #000086 32%, #090979 35%, #082289 43%, #073e9c 52%, #065aaf 61%, #056ab9 66%, #00d4ff 100%);
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.main .section-nav {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  top: 3px;
}

@media (max-width: 1000px) {
  .main .section-nav {
    margin-inline: 15px;
  }
}

@media (max-width: 768px) {
  .main .section-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .section-nav::before {
  content: '';
  position: absolute;
  inset: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(32%, #000086), color-stop(35%, #090979), color-stop(43%, #082289), color-stop(52%, #073e9c), color-stop(61%, #065aaf), color-stop(66%, #056ab9), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #000086 32%, #090979 35%, #082289 43%, #073e9c 52%, #065aaf 61%, #056ab9 66%, #00d4ff 100%);
  z-index: -1;
  border-radius: 4px;
}

.main .section-nav .section-nav-item {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-block: 15px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .main .section-nav .section-nav-item {
    width: 100%;
  }
}

.main .section-nav .section-nav-item.active-nav {
  background: -webkit-gradient(linear, right top, left top, from(#020024), color-stop(32%, #000086), color-stop(35%, #090979), color-stop(43%, #082289), color-stop(52%, #073e9c), color-stop(61%, #065aaf), color-stop(66%, #056ab9), to(#00d4ff));
  background: linear-gradient(270deg, #020024 0%, #000086 32%, #090979 35%, #082289 43%, #073e9c 52%, #065aaf 61%, #056ab9 66%, #00d4ff 100%);
  color: #fff;
}

.main .section-nav.fixed-section-nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

@media (max-width: 1000px) {
  .main .section-nav.fixed-section-nav {
    margin-inline: 0;
  }
}

.main .section-nav.fixed-section-nav .section-nav-item {
  color: #fff;
}

.main .section-nav.fixed-section-nav .section-nav-item.active-nav {
  border: 1px solid #fff;
}

.main .group-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .main .group-section {
    margin-inline: 15px;
  }
}

.main .group-section > * {
  padding-block: 30px;
  padding-inline: 15px;
  -webkit-box-shadow: 6px 11px 18px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 18px -3px rgba(0, 0, 0, 0.75);
}

.footer {
  background: -webkit-gradient(linear, right top, left top, from(#020024), color-stop(32%, #000086), color-stop(35%, #090979), color-stop(43%, #082289), color-stop(52%, #073e9c), color-stop(61%, #065aaf), color-stop(66%, #056ab9), to(#00d4ff));
  background: linear-gradient(270deg, #020024 0%, #000086 32%, #090979 35%, #082289 43%, #073e9c 52%, #065aaf 61%, #056ab9 66%, #00d4ff 100%);
}

.footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-block: 50px;
}

@media (max-width: 1000px) {
  .footer .footer-container {
    margin-inline: 15px;
  }
}

.footer .footer-container h1 {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=Styles.css.map */