@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// colors
$Silver-Sand:#67769e;
$light-blue-accent-2:#40c4ff;
$teal-accent-2:#64ffda;
$indigo-lighten-5:#e8eaf6;

//linear gradients
$gradient1:linear-gradient(45deg, $light-blue-accent-2, $teal-accent-2);

// box shadows
$box-shadow-1:rgba(0, 0, 0, 0.35) 0px 5px 15px;


// font-family
$font-family-1:"Roboto", sans-serif;